a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: none;}

body {
  background-color:#171717 !important;
  background:#171717 !important;
}

div.container {
  background-color:#ffffff;
}

li{
	list-style:none;
	background:url(/images/red-bullet-2x2.png) no-repeat 2px .7em !important;
	padding-left:7px !important;
}

.examplerow li {
  padding-left:-6px !important;
}

h1.section {
  color: #777777 !important;
  font-size: 2.0em;
  font-weight: bold;
}

h2.section {
  color: #777777 !important;
  font-size: 1.3em;
  font-weight: bold;
}

a.permalink {
  font-size: 1.5em;
  color: #666666;
}

a.archivelink {
  font-size: 1.0em;
  color: #666666;
}

ul.archive {
  padding-left: 0em;
}

.download {
  position: relative;
  width: 220px;
  height: 70px;
  margin: 0 auto;
}

.download a * {
  position: absolute;
}

.download img {
  border: 0;
}

.download img.over {
  display: none;
}

.download:hover img.over {
  display: inherit;
}

.download .footerbtn {
  text-align: center;
  left: 0;
  right: 0;
  bottom: 10px;
}

.footerbtn {
  color: #ffba00;
}

.footertext {
  color: #f8f8f8;
  font-size: 7pt;
}

hr {
  border: 0;
  background: #fff url(/images/hrule.png) no-repeat top center !important;
}

.info {
	font-size:0.9em;
	line-height:1.4em;
	text-align: center !important;
	padding: 5px;
  border: 1px solid #cccccc; color: #000000; background-color: #fcf7f2;
}
