a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: none;}
body {
    background-color:#171717 !important;
     background:#171717 !important;
}
div.container {
    background-color:#ffffff;
}

li{
	list-style:none;
	background:url(/images/red-bullet-2x2.png) no-repeat 2px .7em !important;
	padding-left:7px !important;
}

.examplerow li {
    padding-left:-6px !important;
}

h1.section {
     color: #C7C7C7 !important;
     font-size: 2.0em;
     font-weight: bold;
}

h2.section {
     color: #C7C7C7 !important;
     font-size: 1.3em;
     font-weight: bold;
}

a.permalink {
  font-size: 1.5em;
  color: #666666;
}

a.archivelink {
  font-size: 1.0em;
  color: #666666;
}

ul.archive {
  padding-left: 0em;
}

.footerbtn {
	color: #ffba00;
}

.footertext {
	color: #f8f8f8;
	font-size: 7pt;
}

div.downloadbtn {
	color: #ffba00;
	margin-top: -30px;
	margin-left: 5px;
}

hr {
    border: 0;
	background: #fff url(/images/hrule.png) no-repeat top center !important;
}

.info {
	font-size:0.9em;
	line-height:1.4em;
	text-align: center !important;
	padding: 5px;
 border: 1px solid #cccccc; color: #000000; background-color: #fcf7f2;
}