---
layout: default
name: Community
---
  <hr class="space">
  <div class="span-16 prepend-2 append-2 last" >
    <h1>Community Updates</h1>
	</div>
  <div class="span-16 prepend-4 append-4 last" >
			<div class="info" align="center">This page is a blog of links to community provided resources.</div>
	</div>
	<hr class="space">
	
	<div class="span-14 prepend-2 ">
    {% for post in site.categories["community"] limit:6 %}
		<h2 class="section"><a href="{{ post.url }}">{{ post.title }}</a></h2>
		<h4>{{ post.date | date_to_string }}</h4>
		<div>{{ post.content }}</div>
    {% endfor %}
	</div>	

	<div class="span-5 prepend-1 append-2 last">
		<h1 class="section">Archive</h1>
    <ul>
      {% for post in site.categories["community"] offset:6 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>	
  </div>
  <hr class="space">
