---
layout: default
name: Community
---
  <hr class="space">
  <div class="span-20 prepend-2 append-2 last">
    <h1 class="section">Community Updates</h1>

    {% for post in site.categories["community"] limit:6 %}
        <a class="permalink" href="{{ post.url }}">{{ post.date | date_to_string }} &raquo; {{ post.title }}</a>
        {{ post.content }}
      <hr />
    {% endfor %}
  </div>	

  <div class="span-20 prepend-2 append-2 last">
    <h1 class="section">Archive</h1>
      <ul class="archive">
      {% for post in site.categories["community"] offset:6 %}
      <li><a class="archivelink" href="{{ post.url }}">{{ post.date | date_to_string }} &raquo; {{ post.title }}</a></li>
      {% endfor %}
      </ul>
  </div>
